@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.checkboxSelect {
    background-color: white;
    width: fit-content;
    color: black;
    font-size: 12px;
    font-family: "Oswald", sans-serif;
    padding: 5px 10px;
    border-radius: 6px;
    margin: 0px 20px;
}

.checkboxSelect button {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkboxSelect button span {
    border: 1px solid black;
    text-transform: uppercase;
}

.checkboxSelect button p {
    text-transform: uppercase;
}

.options {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}

.checkbox {
    margin-right: 2px;
}


