/* Table.module.css */

.tr {
  display: table-row;
}

.th,
.td {
  /* box-shadow: inset 0 0 0 1px #888888; */
  padding: 0.5rem;
  width: 100%;
}

.td {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  /* box-shadow: inset 0 0 0 .25px #000000; */
  border: 1px solid #5c5c5c;
}

.th {
  position: relative;
  display: table-cell;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff781;
  border: solid 2px black;
}

.thContent {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* gap: 4px; */
}

.tableContainer {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Para un desplazamiento suave en dispositivos móviles */
  /* scrollbar-width: thin; Para Firefox */
  scrollbar-color: #ffffff #5a5a5a;
  /* Para Firefox */
  margin: 20px 10px;
  padding-bottom: 10px;
}

.tableContainer::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la barra de desplazamiento */
  height: 12px;
  /* Altura de la barra de desplazamiento horizontal */
}

.tableContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Color de fondo de la pista de la barra de desplazamiento */
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #888;
  /* Color del pulgar de la barra de desplazamiento */
  border-radius: 6px;
  /* Bordes redondeados del pulgar */
}

.tableContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color del pulgar al pasar el ratón por encima */
}

.table {
  box-shadow: inset 0 0 0 2px #000000;
  /* border: 1px solid black; */
  border-collapse: collapse;
  background-color: rgb(250, 250, 250);
  color: black;
  margin: 10px auto;
}

.date-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.resizer {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background: #27bbff;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
}

.resizer.isResizing {
  background: #2eff31;
  opacity: 1;
}

*:hover>.resizer {
  opacity: 1;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;

}

.descriptionIcon {
  color: black;
  background-color: #24ff92;
  border-radius: 100%;
  font-size: 20px;
  padding: 5px;
}

.descriptionIcon:hover {
  background-color: #027230;
  color: white;
}

.editIcon {
  color: black;
  background-color: #155af1;
  border-radius: 100%;
  font-size: 20px;
  padding: 5px;
}

.editIcon:hover {
  background-color: #002064;
  color: white;
}

.deleteIcon {
  color: black;
  background-color: #ee5a5a;
  border-radius: 100%;
  font-size: 20px;
  padding: 5px;
}

.deleteIcon:hover {
  background-color: #a00000;
  color: white;
}

.sortIcon {
  font-size: 18px;
  padding: 5px;
  cursor: pointer;
  margin-left: 4px;
}

.sortIcon:hover {
  background-color: #ff00d4;
  border-radius: 100%;
}